* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.first-screen {
  width: 40%;
  height: 80%;
  border-radius: 15px;
  padding: 35px 20px 10px 20px;
  margin: 40px;
  background-color: white;
}

.first-screen__statusbar {
  display: flex;
  justify-content: space-between;
}

.second-screen {
  width: 40%;
  height: 80%;
  border-radius: 15px;
  padding: 35px 20px 10px 20px;
  background-color: white;
  margin: 40px;
}

.second-screen__statusbar {
  display: flex;
  justify-content: space-between;
}

.first-screen__artist img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.first-screen__artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-screen__artist h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
}

.first-screen__artist h4 {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

.middle-shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shuffle {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.shuffle h4 {
  font-size: 15px;
}

.love {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: white;
  color: gray;
  border-radius: 25px;
  border: 1px solid whitesmoke;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.love h4 {
  font-size: 15px;
}

.love i {
  color: black;
  margin-right: 10px;
}

.music-1 {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding-top: 27px;
}

.font-align1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: -110px;
}
.music-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-top: 27px;
}

.font-align2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: -110px;
}
.music-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-top: 27px;
}

.font-align3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: -50px;
}
.music-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-top: 27px;
}

.font-align4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: -140px;
}

.font-align1 h2 {
  font-size: 13px;
  opacity: 0.4;
  margin-bottom: 5px;
}
.font-align2 h2 {
  font-size: 13px;
  opacity: 0.4;
  margin-bottom: 5px;
}
.font-align3 h2 {
  font-size: 13px;
  opacity: 0.4;
  margin-bottom: 5px;
}
.font-align4 h2 {
  font-size: 13px;
  opacity: 0.4;
  margin-bottom: 5px;
}

.font-align1 h4 {
  font-size: 14px;
  font-weight: 600;
}
.font-align2 h4 {
  font-size: 14px;
  font-weight: 600;
}
.font-align3 h4 {
  font-size: 14px;
  font-weight: 600;
}
.font-align4 h4 {
  font-size: 14px;
  font-weight: 600;
}

.music-section i {
  margin-bottom: 30px;
  margin-right: 20px;
}

.music-section img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.nav-bar {
  width: 290px;
  height: 60px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-left: -10px;
  margin-top: 10px;
}

.nav-bar__font {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.nav-bar__font h2 {
  font-size: 11px;
  color: gray;
  margin-bottom: 5px;
}

.nav-bar__font h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.nav-bar__i {
  margin-right: 20px;
}

.nav-bar__i i {
  margin: 10px;
}

.second-screen__artist img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-top: 65px;
  margin-bottom: 30px;
}

.second-screen__artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-screen__artist h2 {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 15px;
}

.second-screen__artist h4 {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

#myinput {
  width: 90%;
  height: 5px;
  margin-bottom: 80px;
  background: linear-gradient(
    to right,
    dodgerblue 0%,
    dodgerblue 69%,
    white 69%,
    white 100%
  );
  border: solid 1px gray;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  color: ;
}

#timestamp {
  display: flex;
  margin-bottom: -20px;
}

#timestamp h4 {
  font-size: 13px;
}

#timestamp__2 {
  margin-left: 180px;
}

#second-screen__i {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

#second-screen__i i:first-child,
#second-screen__i i:last-child {
  opacity: 0.3;
}

#second-screen__i i:nth-child(3) {
  margin-top: -20px;
}
